{% extends "/base/base.html" %}

{% block body %}
<div class="drawer">
  <!-- toggle hidden checkbox -->
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  
  <!-- Content -->
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-[#F5F7FB] shadow-md">
      <!-- Hamburger for all screens -->
      <div class="flex-none">
        <label for="my-drawer-2" class="btn btn-ghost drawer-button p-2">
          <i class="ph ph-list text-xl"></i>
        </label>
      </div>

      <!-- Logo -->
      <div class="flex-1">
        <a href="{{ url_for('dashboard.index') }}" class="flex items-center gap-1 pr-5">
          <i class="ph ph-fill ph-sparkle text-4xl font-bold bg-radial-[at_20%_20%] from-cyan-400 to-blue-800 to-75% bg-clip-text text-transparent"></i>
          <h1 class="text-3xl font-bold bg-radial-[at_0%_10%] from-cyan-400 to-blue-800 to-75% bg-clip-text text-transparent">
            PODSA-AD
          </h1>
        </a>
      </div>

      <!-- เมนูหลักแบบ navbar -->
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
          <li><a href="">Forecasts</a></li>
          <li><a href="{{ url_for('dashboard.top10_province')}}">TOP 10 Province</a></li>
        </ul>
      </div>
    </div>

    <!-- Content area -->
    <div class="flex-1 flex flex-col bg-white">
      <!-- <div class="px-4 py-2 shadow-xs">
        <h1 class="text-2xl font-bold">
          {% block header_title %}{% endblock header_title %}
        </h1>
        <nav class="text-sm text-gray-400">
          {% block header_breadcrumb %}{% endblock header_breadcrumb %}
        </nav>
      </div> -->
      
      <div class="flex-1 p-4">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>

  <!-- Sidebar (drawer-side) -->
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    {% include "base/sidebar.html" %}
  </div>
</div>
{% endblock body %}
