{% extends "/base/default_page.html" %}

{% block title %} PODSAAD {% endblock title %}

{% block content %}
<div class="m-6">
  <h1 class="text-2xl font-bold mb-4">ข้อมูล PM 2.5 ใน 7 วันล่าสุด</h1>
	<h2 class="text-xl mb-4">จังหวัดสงขลา สถานีเทศบาลนครหาดใหญ่</h2>
  <div id="chart"></div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        // Parse the JSON data passed from Flask
        const chartData = JSON.parse('{{ chart_json | safe }}'); 

        var options = {
            chart: {
                type: 'bar',
                height: 350
            },
            series: chartData.series,
            xaxis: {
                categories: chartData.categories
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
{% endblock %}
